/*-------------------------------------------------
[Variables Stylesheet]

Project:	Prayable App
Version:	1.1
Last change:	08/11/14 []
Assigned to:	Earlie Clark, Muddassir Khanani
Primary use:	Page used for common styles 
				between pages 
--------------------------------------------------*/
/*------------------------------*\
    $COLORS
\*------------------------------*/
/*------------------------------*\
    $STYLES
\*------------------------------*/
/* line 39, ../scss/variables.scss */
.body-container {
  min-height: 100%;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* line 47, ../scss/variables.scss */
.bg-main {
  background: url("../img/bg-login.png") no-repeat center fixed;
  background-size: cover;
  position: absolute;
}

/* line 53, ../scss/variables.scss */
.bg-input {
  background: url("../img/bg-main.jpg") no-repeat center fixed;
  background-size: cover;
  position: absolute;
}

/* line 59, ../scss/variables.scss */
.bg-prayers {
  background: url("../img/bg-prayers.jpg") no-repeat center fixed;
  background-size: cover;
  position: absolute;
}

/* line 65, ../scss/variables.scss */
.bg-home {
  background: url("../img/bg-home.jpg") no-repeat center fixed;
  background-size: cover;
  position: absolute;
}

/* line 71, ../scss/variables.scss */
.bg-pic-gradient {
  background: url("../img/bg-gradient.png") no-repeat center fixed;
  background-size: 300%;
  position: absolute;
  background-position: bottom;
}

/* line 78, ../scss/variables.scss */
.bg-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #4e007f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4e007f 0%, #290440 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e007f), color-stop(100%, #290440));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4e007f 0%, #290440 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4e007f 0%, #290440 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4e007f 0%, #290440 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4e007f 0%, #290440 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e007f', endColorstr='#290440',GradientType=0 );
  /* IE6-9 */
}

/* line 92, ../scss/variables.scss */
input[type="text"], input[type="password"], input[type="submit"] {
  display: block;
  width: 100%;
  background: transparent;
  color: white;
}

/* line 99, ../scss/variables.scss */
input[type="text"], input[type="password"] {
  text-indent: 25px;
  border-radius: 0 2px 2px 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* line 105, ../scss/variables.scss */
input[type="submit"] {
  font-size: 16px;
  font-weight: bolder;
  color: white;
  padding: 12.5px 0;
  border-radius: 3px;
  margin-bottom: 22.5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
