.my-personal-menu {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	
	ul {
		display: flex;
		padding: 0;
		margin: 0;
		height: 70px;
		width: 100%;
		background: red;
		border-top: 2px solid $light-gray;
		li {
			text-align: center;
			line-height: 70px;
			display: inline;
			border-right: 1px solid $light-gray;
			width: 25%;
			background: rgb(255,255,255); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

			&:hover {
				background: rgb(230,230,230); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(229,229,229,1) 100%); /* W3C */	
			}
			
			&.prayer-hands {
				line-height: 4em;
			}

			img {
				text-align: center;
			}
		}
	}	
}

.my-circle-body-container {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow-y: scroll;
}

.my-circle-container {
	width: 100%;
	background: $white;

	.circle-container {
		display: flex;
		height: 62px;
		border-top: 1px solid rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding: 5px 20px;

		.circle-img {
			height: 50px;
			width: 50px;
			border-radius: 100px;
			border: 2px solid $gray;
			margin-right: 10px;

			&.group-img {
				background: url('../img/group-img.png') no-repeat center;
				background-size: 35px;
			}
		}
		.circle-desc {
			color: $darker-gray;
			margin-right: 15px;
			
			.desc-row-1 {
				display: flex;
				.group-name {
					text-transform: capitalize;
					margin-top: 5px;
				}
			}

			.desc-row-2 {
				display: flex;

				.group-members, .group-notifications {
					margin-top: 0;
				}

				.group-members {
					text-transform: capitalize;
					font-weight: 100;
					font-style: italic;
					margin-bottom: 0;
					display: inline;
					margin-right: 15px;
				}
				.group-notifications {
				}
			}
		}
		.circle-admin-settings {
			line-height: 60px;
			position: absolute;
			right: 5%;
		}
	}
}

/////////////////////////
//* ADD PRAYER CIRCLE *//
/////////////////////////

.settings-prayer {
	
	.circle-photo-container {
		height: 100%;
		width: 40%;
		position: relative;

		.photo-container {
			
			width: 80%;
			height: 100%;
			position: relative;
			margin: 0 auto;
			display: table;
			padding: 15px;

			.circle-photo {
				position: relative;
				margin: 0px auto;
				width: 100%;
				display: table-cell;
				vertical-align: middle;

				.content {
					position: absolute;
					top: 0; left: 0; bottom: 0; right: 0;
					background: url('../img/user-img.jpg') no-repeat center;
					background-size: contain;
					padding: 50px;
					display: table-cell;
					vertical-align: middle;

					&::before {
						content: "";
						display: block;
						padding-top: 100%;
					}
				}
			}
		}

		.photo-upload-container {
			height: 100%;
			width: 100%;
			line-height: 100%;
			display: none;
			position: absolute;
			z-index: 5;
			left: 50%;
			top: 0;
			transform: translate(-50%);

			.upload-button {
				height: 100%;
				width: 100%;
				margin: 0 auto;
				font-weight: 500;
				text-align: center;
				color: $gray;
				display: table-cell;
				vertical-align: middle;
			}
		}	
	}
	.circle-prayer-container {
		height: 100%;
		width: 60%;
		border-left: 1px solid $white;

		.circle-group-title {
			height: 25%;
			width: 100%;
			background: $white-t-l;
			border-bottom: 1px solid $white;
			border-top:0; border-left:0; border-right:0;
			padding: 5%;
			color: $white;
		}
		.circle-group-desc {
			height: 75%;
			width: 100%;
			background: transparent;
			border: 0;
			color: $white;
			padding: 5%;
			resize: none;
		}
		.circle-group-desc::-webkit-input-placeholder {
			color: $light-purple !important;
			font-style: italic;
		}

		.circle-group-title::-webkit-input-placeholder {
			color: $dark-purple !important;
			font-style: italic;
		}
	}
}

.circle-add-container {
	height: 68%;
	background: transparent;
	width: 100%;
	position: relative;
	text-align: center;

	&:hover {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
		
		.circle-add-user {
			color: $black;
		}
	}

	.circle-add-user {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		vertical-align: middle;
		color: $white;
		font-size: 16px;

	}
}

.circle-add-header {
	height: 33%;
	width: 100%;
	display: table;
	background: $white-t-l;
	border-bottom: 1px solid $light-gray;
	text-indent: 5%;

	h5 {
		display: table-cell;
		vertical-align: middle;
		color: $white;
	}
}

.group-add-container {
	height: 15% !important;
}

.circle-prayer-add-container {
	height: 35% !important;
}

.circle-privacy-settings {
	height: 15% !important;
}