.home-menu {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	margin-top: -40px;

	.pray-now-circle {
		background: #fff;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin: 0 auto;
		opacity: 0.3;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}
	.pray-now-title {
		font-size: 1.5em;
		font-weight: 100;
		text-transform: uppercase;
		margin: 10px 0;
	}


	.pray-now {
		height: 250px;

		i {
			font-size: 4em;
			position: relative;
			top: 130px;
		}
	}
	.add-prayer {
		margin-top: 20px;
		i {
			font-size: 4em;
			position: relative;
			top: 130px;
		}
	}
}

.home-body {
	width: 100%;
	text-align: center;
	height: 100%;
	padding: 20px 0;

	.new-input {
		width: 80%;
		height: 300px;
		background: none;
		border: 2px solid #fff;
		border-radius: 10px;
		color: #fff;
		padding: 20px;
		line-height: 20px;

		&:focus {
			outline: 0;
		}
	}
}