.prayable-nav-items {
	a {
		color: $white;
		text-decoration: none;
	}
}
.home-menu {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	margin-top: -20px;

	a {
		color: $white;
	}

	.pray-now-circle-container {
		width: 50%;
		position: relative;
		height: auto;
		margin: 0 auto;

		i {
			font-size: 4em;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}
	}

	.pray-now-circle {
		position: relative;
		background: #fff;
		width: 50%;
		border-radius: 100px;
		margin: 0 auto;
		opacity: 0.3;
		cursor: pointer;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		.content {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background: $white-t-l;
			padding: 30px;
			border-radius: 50%;

			&::before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
	}
	.pray-now-title {
		font-size: 1.2em;
		font-weight: 100;
		text-transform: uppercase;
		margin: 10px 0;
	}
	
	
	.add-prayer {
		margin-top: 20px;
	}
}

.home-body {
	width: 100%;
	text-align: center;
	height: 100%;
	padding: 20px 0;

	.new-input {
		width: 80%;
		height: 300px;
		background: none;
		border: 2px solid #fff;
		border-radius: 10px;
		color: #fff;
		padding: 20px;
		line-height: 20px;

		&:focus {
			outline: 0;
		}
	}
}

.home-body-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.home-circles-container {
	height: 100%;
	padding-top: 10%;

	@media screen and (max-width: 640px) {
		padding-top: 20%;
	}

	.circle-row {
		height: 30%;

		&:nth-child(1) {
			margin-bottom: 85px;
		}

		@media screen and (max-width: 768px) {
			&:nth-child(1) {
				margin-bottom: 70px;
			}
		}

		@media screen and (max-width: 640px) {
			&:nth-child(1) {
				margin-bottom: 5%;
			}
		}
	}
	.home-circle {
		text-align: center;
		.home-circle-title {
			text-transform: uppercase;
			color: $white-t;
			margin-top: 10px;
			font-weight: 100;
			letter-spacing: 1px;
		}

		.home-c-container {
			max-width: 50%;
			position: relative;
			height: auto;
			margin: 0 auto; 

			@media screen and (max-width: 560px) {
				max-width: 60%;
			}


			i {
				font-size: 4em;
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				color: $white-t-l;

				img {
					filter: opacity(0.4);
					-webkit-filter: opacity(0.4);
					-ms-filter: opacity(0.4);
				}
			}
			.home-circle-content {
				position: relative;
				background: #fff;
				max-width: 60%;
				border-radius: 100px;
				margin: 0 auto;
				opacity: 0.3;
				cursor: pointer;

				@media screen and (max-width: 1024px) {
					max-width: 83%;
				}

				@media screen and (max-width: 640px) {
					max-width: 100%;
				}

				&::before {
					content: "";
					display: block;
					padding-top: 100%;
				}

				.content {
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					background: $white-t-l;
					padding: 30px;
					border-radius: 50%;

					&::before {
						content: "";
						display: block;
						padding-top: 100%;
					}
				}
			}
		}
	}
}