.prayable-nav-items {
	a {
		color: $white;
		text-decoration: none;
	}
}
.home-menu {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	margin-top: -20px;

	a {
		color: $white;
	}

	.pray-now-circle-container {
		width: 50%;
		position: relative;
		height: auto;
		margin: 0 auto;

		i {
			font-size: 2em;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.pray-now-circle {
		position: relative;
		background: #fff;
		width: 50%;
		border-radius: 100px;
		margin: 0 auto;
		opacity: 0.3;
		cursor: pointer;

		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		.content {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background: $white-t-l;
			padding: 30px;
			border-radius: 50%;

			&::before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
	}
	.pray-now-title {
		font-size: 1.2em;
		font-weight: 100;
		text-transform: uppercase;
		margin: 10px 0;
	}
	
	
	.add-prayer {
		margin-top: 20px;
	}
}

.home-body {
	width: 100%;
	text-align: center;
	height: 100%;
	padding: 20px 0;

	.new-input {
		width: 80%;
		height: 300px;
		background: none;
		border: 2px solid #fff;
		border-radius: 10px;
		color: #fff;
		padding: 20px;
		line-height: 20px;

		&:focus {
			outline: 0;
		}
	}
}