.inbox-container {
	height: 100%;
	width: 100%;
	position: absolute;
	background: $purple;
}

.app-header-search-container {
	width: 100%;
	position: relative;
	margin-bottom: 10px;

	.app-search-header {
		width: 80%;
		margin: 0 auto;
		display: flex;
	}

	.header-search {
		display: flex;
		width: 80%;
		margin-right: 5%;

		input[type="text"] {
			border: 0;
			border-top-left-radius: 100px;
			border-bottom-left-radius: 100px;
			background: $dark-purple;
			color: $white;
			height: 50px;

			&:focus {
				outline: none !important;
			}
		}

		.app-search-bar-icon {
			font-size: 2em;
			background: $dark-purple;
			color: $white;
			height: 50px;
			width: 75px;
			text-align: center;
			line-height: 50px;
			border-bottom-right-radius: 100px;
			border-top-right-radius: 100px;
		}
	}

	.app-message-compose-container {
		width: 25%;
		position: relative;

		.message-compose {
			font-size: 2em;
			height: 50px;
			width: 50px;
			line-height: 50px;
			text-align: center;
			background: $dark-purple;
			color: $white;
			border-radius: 100px;
			position: absolute;
			right: 0;
		}
	}
}

.message-container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	
	.message-box {
		background: $purple;
		overflow: hidden;
		display: flex;
		width: 100%;
		height: 75px;
		padding: 0.5em 1.5em;
		border-top: 1px solid rgba(179,179,179,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.9);

		.message-content-container {
			.message-content-header {
				.message-sender {

				}
				.message-date {
					position: relative;

					span {
						position: absolute;
						right: 0;
						color: $white;
					}
				}
			}
		}

		&.viewed {
			background: $darker-purple;
			.message-notification {
				display: none;
			}
			.message-content-container {
				.message-content-header {
					.message-sender {
						h4 {
							color: $dark-gray;
						}
					}
					.message-date {
						position: relative;
						h5 {
							color: $dark-gray;
						}
						span {
							color: $purple;
						}
					}
				}
			}
			.message-content {
				p {
					font-weight: 100;
					letter-spacing: 0.5px;
					color: $gray;
				}
			}
		}

		.message-notification {
			padding-top: 25px;

			div {
				height: 9px;
				width: 9px;
				position: absolute;
				margin-left: -10px;
				border-radius: 50%;
				background: $light-purple;
			}
		}

		.message-content-container {
			padding-left: 10px;
			width: 100%;
			.message-content-header {
				.message-sender {
					h4 {
						color: $white;
						margin-bottom: 0;
					}
				}
				.message-date {
					h5 {
						color: $white;
					}
				}
			}
		}

		.message-content {
			p {
				color: $light-gray;
			}
		}
	}
}