.ngdialog-message {
	.container {
		background-color: $purple;
		color: $white;
		border-radius: 5px 5px 0 0;
		width: 100%;

		button {
			color: $white;
			margin: 10px;
		}

		h1 {
			margin: 0px;
			font-size: 22px;
			line-height: 50px;
			font-family: sans-serif;
		}
	}
	.message-box {
		background-color: $share-purple-bd;
		border-radius: 0 0 5px 5px;
		color: $light-purple;
		padding: 10px 20px;
		text-align: center;

		h3 {
			margin: 0px 0px 10px 0px;
			font-size: 18px;
			text-align: left;
		}

		ul {
			list-style: none;
			margin: 0px;
			padding: 0px 0px 20px 0px;
			border-bottom: 1px solid $dark-purple;

			li {
				font-size: 16px;
				text-align: left;
			}
		}
		button {
			width: 50%;
			padding: 10px 0;
			font-size: 20px;
			border-radius: 5px;
			background-color: $share-purple-btn;
			color: $white;
			border: none;
			margin-top: 20px;
		}

		button:hover{
			background-color: $purple;
		}
	}
}
