.prayer-body-container {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;

	.profile-header-container {
		height: auto;
		position: relative;
		z-index: 1;

		.profile-header {
			display: flex;
			display: -webkit-flex;
			margin-top: 55px;
			border-bottom: 1px solid $dark-purple;
			background: $purple;	
		}

		.prayer-profile-container {
			display: flex;
			display: -webkit-flex;
			width: 100%;
			height: auto;

			.user-photo {
				padding: 10px;
				div {
					height: 65px;
					width: 65px;
					background: url('../img/user-img.jpg') center;
					background-size: contain;
					border-radius: 50%;	
				}
			}
			.user-post-settings {
				.user-name {
					font-size: 20px;
					color: $light-purple;
					margin-top: 20px;
					margin-bottom: 0;
				}
				.user-post-time {
					font-size: 16px;
					color: $light-purple;
					font-weight: 100;
				}
			}
		}

		.prayer-list-counter {
			height: 85px;
			position: relative;
			width: 100px;
			div {
				color: $white-t;
				position: absolute;
				font-size: 16px;
				font-weight: 100;
				right: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				padding: 5px 10px;
				background: $white-t-l;
				border-radius: 5px;
			}
		}
	}

	.prayer-container {	
		height: auto;
		position: relative;
		overflow-y: scroll;
	}

	.bar-container {
		height: 130px;
		padding-top: 10px;
		/*position: absolute;
		bottom: 70px;*/
		background: $purple;
		width: 100%;

	}

	.title-header {
		text-transform: capitalize;
		text-align: center;
		color: $white;
		font-weight: 300;
		letter-spacing: 1px;
		position: fixed;
		margin: 0 auto;
		background: $purple;
		z-index: 1;
		left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
		-ms-transform: translate(-50%);
		width: 90%;
		filter: opacity(0.8);
		-webkit-filter: opacity(0.8);
		-ms-filter: opacity(0.8);

		.prayer-title {
			text-transform: uppercase;
			font-weight: 400;
		}
	}

	.single-prayer {
		padding-top: 60px;

		.prayer-txt {
			width: 80%;
			height: 70%;
			margin: 10px auto;
			font-size: 22px;
			color: $light-purple;
			line-height: 1.5em;
			font-weight: 100;
			text-align: center;
		}
	}

	.prayer-menu-bar {

		position: relative;
		border-top: 1px solid $dark-purple;
		border-bottom: 1px solid $dark-purple;
		padding: 1px 0;
		/*width: 100%;
		
		height: 75px;
		margin-top: 10px;*/

		.counter-container-column {
			width: 20% !important;
			.counter-container {
				text-align: center;
			i {
				color: $light-purple;
			}
			span {
				color: $light-purple;
			}
			}	
		}
		

		.prayer-counter {
			margin: 0 auto;
			color: $white;
			background: $light-purple;
			line-height: 75px;
			height: 75px;
			width: 75px;
			text-align: center;
			border-radius: 50%;

			.underline {
				font-style: underline;
				font-weight: bold;
			}
		}

		.prayer-favorite {
			
			line-height: 85px;
			height: 50px;
			width: 50px;
			color: $white;
			text-align: center;

			.fa:hover {
				-webkit-filter: opacity(0.5);
				-moz-filter: opacity(0.5);
				filter: opacity(0.5);

			}
		}

		.prayer-next {
			line-height: 75px;
			p {
				color: $white;
				font-size: 1.125em
			}
		}
	}	

	.prayer-menu-links {
		position: relative;
		.prayer-button {
			background: transparent;
			color: $light-purple;
			border: 1px solid $white;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			padding: 5px 10px;

			&:hover {
				border-color: $light-purple;
			}

			&.pright {
				right: 0;
				transform: translate(-5%, 50%);
				-webkit-transform: translate(-5%, 50%);
				-ms-transform: translate(-5%, 50%);
			}

			&.pleft {
				left: 0;
				transform: translate(5%, 50%);
				-webkit-transform: translate(5%, 50%);
				-ms-transform: translate(5%, 50%);
			}
		}
	}

	.comment-container {
		position: absolute;
		bottom: 70px;
	}

	.comment-row {
		.prayer-comment-container {
			display: flex;
			display: -webkit-flex;
			position: relative;

			.user-comment-container {
				display: flex;
				display: -webkit-flex;
				width: 100%;
				position: relative;
				padding-bottom: 10px;
				border-bottom: 1px solid $white-t-l;
				margin-bottom: 10px;

				.user-comment-photo {
					div {
						height: 60px;
						width: 60px;
						border-radius: 50%;
						background: url('../img/user-img.jpg');
						background-size: contain;
					}
				}

				.user-comment-settings {
				margin-left: 10px;

					.user-comment-name {
						font-size: 16px;
						color: $light-purple;
						margin-top: 10px;
						margin-bottom: 0; 
					}
					.user-comment-post {
						font-size: 12px;
						color: $light-purple;
					}
				}
			}

			.user-comment-like-container {
				display: flex;
				height: 70px;
				display: -webkit-flex;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(-75%, -50%);
				.user-likes {
					color: $light-purple;
				}
				.user-dislikes {
					color: $light-purple;
				}
			}
		}
	}

	.user-comment-form {
		margin-top: 20px;
		textarea {
			width: 70%;
			height: 150px;
			border-radius: 5px;
			float: left;
			padding: 5px;
			background-color: $white-t-l;
			border: 1px solid $white-t;
			color: $light-purple;
		}
		button {
			width: 23%;
			height: 60px;
			margin-bottom: 30px;
			float: right;
			background: transparent;
			border-radius: 5px;
			color: $light-purple;
			font-size: 16px;
			border: 1px solid $light-purple;
		}
		button:hover {
			border: 1px solid $white;
			color: $white;
		}
	}

	.user-comment-box {
		padding-bottom: 10px;
		border-bottom: 1px solid $dark-purple;
		.user-comment {
			color: $light-purple;
			width: 85%;
			margin: 0 auto 10px;
		}
	}
}


