/*---------------------------------------------------
[Login/Register Stylesheets]

Project:	Prayable App
Version:	1.1
Last change:	08/11/14 []
Assigned to:	Earlie Clark, Muddassir Khanani
Primary use:	Page Used for Login/Register Styles 
----------------------------------------------------*/

.page-login, .page-register {
	position: absolute;
	min-height: 100%;
	height: auto;
	width: 100%;
	text-align: center;

	.img-logo {
		width: 100%;
		text-align: center;
		/*padding: 3.125em 0; */
		position: absolute;
		height: 30%;

		img {
			max-width: 80%;
		}
	}

	.img-logo-register-container {
		width: 100%;
		text-align: center;
		/*padding: 3.125em 0; */
		position: absolute;
		height: 15%;

		.img-logo-register {
			width: 50%;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);

			img {
				max-width: 40%;
			}
		}
	}
}

.login-form-container {
	width: 100%;
	height: 70%;
	overflow-y: scroll;
	position: absolute;
	top: 30%;
}

.form-login, .form-register {
	width: 80%;
	margin: 0 auto;

	input[type="text"], input[type="password"], input[type="submit"] {
		display: block;
		width: 100%;
		background: transparent;
		color: $white;
	}

	input[type="text"], input[type="password"] {
		text-indent: 25px;
		border-radius: 0 2px 2px 0;
		border: 1px solid $white-t;
	}

	input[type="submit"] {
		font-size: 16px;
		font-weight: bolder;
		color: $white;
		padding: 12.5px 0;
		border-radius: 3px;
		margin-bottom: 22.5px;
		border: 2px solid $white-t;
	}
	input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
		color: $white;
	}

	p, h6.form-head {
		color: $white;
		font-size: 12px;
	}

	h6.form-head {
		margin-bottom: 20px;

		.register-link, .login-link {
			font-weight: bolder;
			text-decoration: none;
			color: $white;
		}
	}
}

.register-container {
	height: 85%;
	width: 100%;
	position: absolute;
	top: 15%;
	overflow-y: scroll;
	padding-bottom: 10px;
}

.glyph-container {
		display: flex;
		display: -ms-flexbox; 
		display: -webkit-flex;
		margin-bottom: 10px;
		div {
			border-radius: 2px 0 0 2px;
			height: 44px;
			width: 44px;
			background: $white-t;
			color: $white;
			line-height: 3em;
			text-align: center;
		}

		&.m-bottom {
			margin-bottom: 20px;
		}
	}
.f-glass {
	border: 5px solid rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

.social-register {
	width: 80%;
	margin: 0 auto;

}

.selection-container {

	.t-glass {
		border-radius: 5px;
	}
	.select-box {
		border-radius: 2px;
		height: 44px;
		width: 100%;
		background: $white-t;
		color: $white;
		line-height: 3em;
		text-align: center;
		line-height: 3.8em;
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;

		.border-right {
			padding: 0em 1.5em;
			border-right: 1px solid rgba(255,255,255,0.1);
		}
		.border-left {
			padding-left: 1.5em;
			border-left: 1px solid rgba(0,0,0,0.2);

			h5 {
				line-height: 1.5em;
			}
		}

		&.facebook {
			background: -moz-linear-gradient(top, #3b5998, #2b4170);
			background: -ms-linear-gradient(top, #3b5998, #2b4170);
			background: -webkit-linear-gradient(top, #3b5998, #2b4170);
		}

		a {
			color: $white;
		}
	}

	hr {
		width: 15%;
	}
	p {
		/*line-height: 2.5em;*/
		font-size: 1.3em;
		margin: 15px 2em;
	}
}


