/*---------------------------------------------------
[Master Stylesheet]

Project:	Prayable App
Version:	1.1
Last change:	08/11/14 []
Assigned to:	Earlie Clark, Muddassir Khanani
Primary use:	Page Used for Importing Stylesheets 
----------------------------------------------------*/


@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap/_bootstrap-compass";
@import "bootstrap/_bootstrap-mincer";
@import "bootstrap/_bootstrap-sprockets";
@import "fontawesome/font-awesome";

@import "register";
@import "prayers";
@import "home";
@import "inbox";
@import "circles";
@import "friends";
@import "profile";


html, body {
	width: 100%;
	height:100%;
	position: fixed;
}

.app-header {
	width: 100%;
	height: 60px;
	color: $white;
	list-style: none;
	display: inline-block;
	padding: 0;
	line-height: 5em;
	font-weight: 100;

	.app-header-back-button {
		width: 20%;
		float: left;
		height: 60px;
		text-align: center;
		font-size: 4em;

		i {
			cursor: pointer;
		}

		&:hover {
			color: $purple;
		}
	}

	.app-header-title {
		width: 60%;
		height: 60px;
		float: left;
		text-align: center;
		font-size: 1.5em;
	}

	.app-header-notifications {
		width: 20%;
		float: left;
		height: 60px;
		text-align: center;
		font-size: 2.5em;
		cursor: pointer;
		position: relative;

		.notification-counter {
			position: absolute;
			height: 25px;
			width: 25px;
			left: 50%;
			top: 0;
			border-radius: 100%;
			background: $dark-purple;
			text-align: center;
			margin-top: 10px;

			span {
				position: absolute;
				top: -23px;
				right: 8px;
				font-size: 0.5em;
			}
		}

		&:hover {
			color: $purple;
		}
	}
}

.prayable-nav-icon {
	background: $dark-purple;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100px;
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -30px;
	color: $white;
	text-align: center;

	&:hover {
		background: darken($dark-purple, 5%);
	}
}

.prayable-nav-container {
	width: 100%;
	padding: 0;
	background: $dark-purple;
	position: fixed;
	color: $white;
	bottom: -530px;

	.prayable-nav-items {
		list-style: none;
		padding: 0;
		text-align: left;
		li {
			width: 100%;
			height: 60px;
			line-height: 30px;
			font-size: 1.5em;
			font-weight: 100;
			text-transform: capitalize;
			padding: 15px 25px;
			border-bottom: 1px solid $darker-purple;

			.prayable-nav-item-icon {
				padding-right: 20px;
				color: $light-purple;
			}
		}
	}
}
