/*-------------------------------------------------
[Variables Stylesheet]

Project:	Prayable App
Version:	1.1
Last change:	08/11/14 []
Assigned to:	Earlie Clark, Muddassir Khanani
Primary use:	Page used for common styles 
				between pages 
--------------------------------------------------*/



/*------------------------------*\
    $COLORS
\*------------------------------*/

$purple: #4e007f;
$purple-p: #6601a0;
$black: #000;
$black-t: rgba(0,0,0,0.4);
$white: #fff;
$white-t: rgba(255,255,255,0.7);
$white-t-l: rgba(255,255,255,0.3);
$light-gray: #EAEAEA;
$gray: #D3D3D3;
$dark-gray: #9C9C9C;
$darker-gray: #333;
$facebook: #456098;
$twitter: #35A9DB;
$dark-purple: #290440;
$darker-purple: #1e0230;
$light-purple: #8f6da8;
$pink: #d693fe;
$journal : #3f0565;
$online: #B6FF00;
$offline: #0e5b27;
$share-purple-bd: #68298d;
$share-purple-btn: #8a47b2;
$add-pray-active-purple: #8a47b2;
$add-pray-tab-purple-bg: #77389c;


/*------------------------------*\
    $STYLES
\*------------------------------*/

.body-container {
	min-height: 100%;
	height: auto;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.bg-main {
	background: url('../img/bg-login.png') no-repeat center fixed;
	background-size: cover;
	position: absolute;
}

.bg-purple {
	background-color: $purple;
	position: absolute;
}

.bg-input {
	background: url('../img/bg-main.jpg') no-repeat center fixed;
	background-size: cover;
	position: absolute;
}

.bg-prayers {
	background: url('../img/bg-prayers.jpg') no-repeat center fixed;
	background-size: cover;
	position: absolute;
}

.bg-home {
	background: url('../img/bg-home.jpg') no-repeat center fixed;
	background-size: cover;
	position: absolute;
}

.bg-pic-gradient {
	background: url('../img/bg-gradient.png') no-repeat center fixed;
	background-size: 300%;
	position: absolute;
	background-position: bottom;
}

.bg-prayer-gradient {
	background: url('../img/add_prayer_bg_gradient.jpg') repeat-x left;
	background-size: cover;
	position: absolute;
}

.bg-gradient {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgb(78,0,127); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(78,0,127,1) 0%, rgba(41,4,64,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,0,127,1)), color-stop(100%,rgba(41,4,64,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(78,0,127,1) 0%,rgba(41,4,64,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(78,0,127,1) 0%,rgba(41,4,64,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(78,0,127,1) 0%,rgba(41,4,64,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(78,0,127,1) 0%,rgba(41,4,64,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e007f', endColorstr='#290440',GradientType=0 ); /* IE6-9 */	
}

input[type="text"], input[type="password"], input[type="submit"] {
			display: block;
			width: 100%;
			background: transparent;
			color: $white;
		}

input[type="text"], input[type="password"] {
	text-indent: 25px;
	border-radius: 0 2px 2px 0;
	border: 1px solid $white-t;
}

input[type="submit"] {
	font-size: 16px;
	font-weight: bolder;
	color: $white;
	padding: 12.5px 0;
	border-radius: 3px;
	margin-bottom: 22.5px;
	border: 2px solid $white-t;
}