<div ng-show="isLogged">
	<div class="body-container bg-purple">
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'prayer' | translate}}</li>
            <li class="app-header-toggle-settings">
            	<i class="fa fa-plus-square-o"></i>
       		</li>
       	</ul>
       	<div class="activities-body-container">

       		<div class="activity-container" ng-repeat="activity in activities">
       			<div class="activity-icon-box">
       				<div class="activity-icon act-icon-{{activity.typeInfo.title}}">
       				</div>
       			</div>
       			<div class="activity-desc-box">
       				<div class="activity-desc">	
       					<h3>{{activity.activityInfo.title}}</h3>
       					<h5 class="act-one">Starts <span class="act-start">{{activity.activityInfo.StartDateTime[0]}}</span> - Ends <span class="act-end">{{activity.activityInfo.EndDateTime[0]}}</span></h5>
       				</div>
       				<div class="activity-time">
       					<p>
       					Added<br>
       					<span class="act-day">{{activity.activityInfo.CreatedDateTime[1]}}</span><br>
       					<span class="act-day-time">{{activity.activityInfo.CreatedDateTime[0]}}</span>
       					</p>
       				</div>
       			</div>
       		</div>

			<div ng-show="isActivity">
				<h1>You have NO Activity</h1>
			</div>

       	</div>
	</div>


</div>