<div ng-show="isLogged">
	

	<div class="body-container bg-prayers">
		<ul class="app-header">
       		<li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
       		<li class="app-header-title">{{ 'prayerCircles' | translate }}</li>
       		<li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon fa-3x">&plus;</span>
       		</li>
       	</ul>

       	<div class="app-header-search-container">
			<div class="app-search-header">
				<div class="header-search">
					<input type="text" class="circleSearchField" ng-change="change()" ng-model="searchQuery" placeholder="Search Inbox...">
					<div class="app-search-bar-icon"><i class="fa fa-search"></i></div>
				</div>
				<div class="app-message-compose-container">
					<div class="message-compose">
						<i class="fa fa-pencil"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="my-circle-body-container">


            <div class="my-circle-container" ng-repeat="group in groupSearchList">
				<div class="circle-container">
					<div class="circle-img group-img"></div>
					<div class="circle-desc">
						<div class="desc-row-1">
							<h5 class="group-name">{{group.title}}</h5>
						</div>
						
						<div class="desc-row-2">
							<h6 class="group-members">{{group.members.length}} members</h6>
							<h6 class="group-notifications"><i class="fa fa-bell"></i> 1</h6>
						</div>
					</div>
					<div class="circle-admin-settings">
						<i class="fa fa-2x fa-wrench"></i>
					</div>
				</div>
			</div>


		</div>

	</div>
	<div class="my-personal-menu">
		<ul class="ul-four">
			<li ng-click="getallGruops('user')"><i class="fa fa-users fa-2x" ></i></li>
			<li ng-click="getallGruops('a')"><i class="fa fa-search fa-2x"></i></li>
			<li><i class="fa fa-cogs fa-2x"></i></li>
			<li><i class="fa fa-external-link fa-2x"></i></li>
		</ul>
	</div>
</div>