<div>
	<div class="body-container bg-purple">
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'prayer' | translate}}</li>
            <li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon"><i class="fa fa-tasks"></i></span>
       		</li>
       	</ul>
       	<div class="prayer-feed-container">
       		<div class="feed-prayer">
       			<div class="feed-prayer-header">
       				<div class="feed-header-content">
       					<div class="feed-user-photo">
	       					<div class="user-photo"></div>
	       					
	       				</div>
	       				<div class="feed-user-name">
	       					<p class="user-name">John Doe</p>
	       				</div>
	       				<div class="feed-post-time">
	       					<p class="post-time">25 min ago</p>
	       				</div>
       				</div>

       				
       			</div> <!-- Closes Feed Header -->
       			<div class="clearfix"></div>
       			<div class="feed-prayer-text">
       				<div class="feed-prayer-title">Our Father</div>
       				<div class="prayer-text">
       					<p>Our Father, which art in heaven,
							Hallowed be thy Name.
							Thy Kingdom come. 
							Thy will be done in earth, 
							As it is in heaven.
							Give us this day our daily bread.
							And forgive us our trespasses,
							As we forgive them that trespass against us. 
							And lead us not into temptation, 
							But deliver us from evil. 
							For thine is the kingdom,
							The power, and the glory,
							For ever and ever.
							Amen.
						</p>
       				</div>
       			</div> <!-- Closes prayer text -->

       			<div class="feed-prayer-icon-bar">
       				<div class="prayer-prayers">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-pray-counter">55</span>
       				</div>
       				<div class="prayer-comments">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-comment-counter">57</span>
       				</div>
       				<div class="prayer-views">
       					<i class="fa fa-eye"></i>
                        <span class="prayer-view-counter">90</span>
       				</div>
       				<div class="prayer-share">
       					<i class="fa fa-share-square-o"></i>
                        <span class="prayer-share-counter">41</span>
       				</div>
       				<div class="prayer-favorite">
       					<i class="fa fa-star"></i>
                        <span class="prayer-favorites-counter">5</span>
       				</div>
       			</div>

       		</div> <!-- End of Single Feed Prayer -->

       		<div class="feed-prayer">
       			<div class="feed-prayer-header">
       				<div class="feed-header-content">
       					<div class="feed-user-photo">
	       					<div class="user-photo"></div>
	       					
	       				</div>
	       				<div class="feed-user-name">
	       					<p class="user-name">Samantha Jerin</p>
	       				</div>
	       				<div class="feed-post-time">
	       					<p class="post-time">25 min ago</p>
	       				</div>
       				</div>

       				
       			</div> <!-- Closes Feed Header -->
       			<div class="clearfix"></div>
       			<div class="feed-prayer-text">
       				<div class="feed-prayer-title">Prayer for Generosity</div>
       				<div class="prayer-text">
       					<p>Lord Jesus, teach me to be generous;
							teach me to serve you as you deserve, 
							to give and not to count the cost, 
							to fight and not to heed the wounds, 
							to toil and not to seek for rest, 
							to labor and not to seek reward, 
							except that of knowing that I do your will.
							Amen.
						</p>
       				</div>
       			</div> <!-- Closes prayer text -->

       			<div class="feed-prayer-icon-bar">
       				<div class="prayer-prayers">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-pray-counter">55</span>
       				</div>
       				<div class="prayer-comments">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-comment-counter">57</span>
       				</div>
       				<div class="prayer-views">
       					<i class="fa fa-eye"></i>
                        <span class="prayer-view-counter">90</span>
       				</div>
       				<div class="prayer-share">
       					<i class="fa fa-share-square-o"></i>
                        <span class="prayer-share-counter">41</span>
       				</div>
       				<div class="prayer-favorite">
       					<i class="fa fa-star"></i>
                        <span class="prayer-favorites-counter">5</span>
       				</div>
       			</div>

       		</div> <!-- End of Single Feed Prayer -->

       		<div class="feed-prayer">
       			<div class="feed-prayer-header">
       				<div class="feed-header-content">
       					<div class="feed-user-photo">
	       					<div class="user-photo"></div>
	       					
	       				</div>
	       				<div class="feed-user-name">
	       					<p class="user-name">John Doe</p>
	       				</div>
	       				<div class="feed-post-time">
	       					<p class="post-time">25 min ago</p>
	       				</div>
       				</div>

       				
       			</div> <!-- Closes Feed Header -->
       			<div class="clearfix"></div>
       			<div class="feed-prayer-text">
       				<div class="feed-prayer-title">Heath Streak</div>
       				<div class="prayer-text">
       					<p>In the name of Jesus, and through the power of His blood, I now renounce, break and sever all soul ties that have been formed between myself and the unhealthy music (name specific songs and artists/groups if possible) I used to listen to and enjoy, as well as any soul ties formed between myself and the artists and groups (name them specifically if possible) and demonic influences that have produced these unhealthy songs and music.
						</p>
       				</div>
       			</div> <!-- Closes prayer text -->

       			<div class="feed-prayer-icon-bar">
       				<div class="prayer-prayers">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-pray-counter">55</span>
       				</div>
       				<div class="prayer-comments">
       					<i class="fa fa-comment"></i>
                        <span class="prayer-comment-counter">57</span>
       				</div>
       				<div class="prayer-views">
       					<i class="fa fa-eye"></i>
                        <span class="prayer-view-counter">90</span>
       				</div>
       				<div class="prayer-share">
       					<i class="fa fa-share-square-o"></i>
                        <span class="prayer-share-counter">41</span>
       				</div>
       				<div class="prayer-favorite">
       					<i class="fa fa-star"></i>
                        <span class="prayer-favorites-counter">5</span>
       				</div>
       			</div>

       		</div> <!-- End of Single Feed Prayer -->
       	</div>



    </div>
</div>