<div>
	<div class="body-container bg-main">
		<ul class="app-header">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'friends' | translate}}</li>
            <li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon fa-3x">&plus;</span>
       		</li>
       	</ul>

       	<div class="app-header-search-container">
			<div class="app-search-header">
				<div class="header-search">
					<input type="text" placeholder="Search Inbox...">
					<div class="app-search-bar-icon"><i class="fa fa-search"></i></div>
				</div>
			</div>
		</div>

		<div class="friends-body-container">
			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">Earlie Clark</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>

			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">Muhammad Muddassir</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>

			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">Faramoluwa Ashiru</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>

			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">David Jituboh</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>


			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">Edison Obodo</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>

			<div class="friends-container">
				<div class="container">
					<div class="user-img user-img-bg"></div>
					<div class="user-desc">
						<h4 class="user-name">Arslan Khalid</h4>
						<h6 class="user-denomination">Methodist</h6>
						<h6 class="user-church">Gethsemane United Methodist</h6>
					</div>
					<div class="user-arrow">
						<i class="fa fa-2x fa-angle-right"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="fade-arrow">
			<i class="fa fa-2x fa-angle-down"></i>
		</div>
		<div class="my-personal-menu">
			<ul>
				<li><i class="fa fa-users fa-2x"></i></li>
				<li><i class="fa fa-search fa-2x"></i></li>
				<li><i class="fa fa-cogs fa-2x"></i></li>
				<li><i class="fa fa-paper-plane-o fa-2x"></i></li>
			</ul>
		</div>

	</div>
</div>