<div>
    <div class="body-container bg-home">
        <div class="page-home">
           <ul class="app-header">
                <li class="app-header-back-button"></li>
                <li class="app-header-title"></li>
                <li class="app-header-notifications">
                    <i class="fa fa-bell"></i>
                    <div class="notification-counter">
                        <span>3</span>
                    </div>
                </li>
           </ul>
        </div>
        <div class="home-menu">

                <div ng-click="go('/prayers')" class="pray-now">
                    <i class="fa fa-arrow-up"></i>
                    <div class="pray-now-circle"></div>
                    <div class="pray-now-title">{{'prayNowTitle' | translate}}</div>
                </div>

            <a href="#/prayers/add">
                <div class="add-prayer">
                    <i class="fa fa-plus"></i>
                    <div class="pray-now-circle"></div>
                    <div class="pray-now-title">{{'addAPrayer' | translate}}</div>
                </div>
            </a>
        </div>
        <div ng-click="menu" class="prayable-nav-icon"><i class="fa fa-navicon"></i></div>
        <div class="prayable-nav-container">
            <ul class="prayable-nav-items">
                <li><i class="prayable-nav-item-icon fa fa-user"></i>{{'myAccount' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-envelope"></i>{{'inbox' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-rss"></i>{{'prayerFeed' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-list"></i>{{'myPrayers' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-group"></i>{{'friends' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-group"></i>{{'prayerCircles' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-book"></i>{{'myJournal' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-tachometer"></i>{{'myActivities' | translate}}</li>
                <li><i class="prayable-nav-item-icon fa fa-cog"></i>{{'settings' | translate}}</li>
            </ul>
        </div>
    </div>
</div>
