<div>
	<div class="inbox-container">
		<ul class="app-header">
       		<li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
       		<li class="app-header-title">{{ 'inbox' | translate }}</li>
       		<li class="app-header-notifications"><i class="fa fa-bell"></i></li>
       </ul>
		<div class="app-header-search-container">
			<div class="app-search-header">
				<div class="header-search">
					<input type="text" placeholder="Search Inbox...">
					<div class="app-search-bar-icon"><i class="fa fa-search"></i></div>
				</div>
				<div class="app-message-compose-container">
					<div class="message-compose">
						<i class="fa fa-pencil"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="message-container">
			<div class="message-box">
				<div class="message-notification">
					<div></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>Jane Doe</h4>
						</div>
						<div class="message-date pull-right">
							<h5>05/11/14</h5>
							<span class="message-reply"><i class="fa fa-reply"></i></span>
						</div>
					</div>
					<div class="message-content">
						<p>This is a system test to see what I like.</p>
					</div>
				</div>
			</div>
			<div class="message-box">
				<div class="message-notification">
					<div></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>Mike Dill</h4>
						</div>
						<div class="message-date pull-right">
							<h5>05/11/14</h5>
						</div>
					</div>
					<div class="message-content">
						<p>This is a system test to see what I like.</p>
					</div>
				</div>
			</div>
			<div class="message-box viewed">
				<div class="message-notification">
					<div></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>Tom Cat</h4>
						</div>
						<div class="message-date pull-right">
							<h5>05/11/14</h5>
							<span><i class="fa fa-reply"></i></span>
						</div>
					</div>
					<div class="message-content">
						<p>This is a system test to see what I like.</p>
					</div>
				</div>
			</div>
			<div class="message-box viewed">
				<div class="message-notification">
					<div></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>Tom Cat</h4>
						</div>
						<div class="message-date pull-right">
							<h5>05/11/14</h5>
						</div>
					</div>
					<div class="message-content">
						<p>This is a system test to see what I like.</p>
					</div>
				</div>
			</div>
			<div class="message-box viewed">
				<div class="message-notification">
					<div></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>Tom Cat</h4>
						</div>
						<div class="message-date pull-right">
							<h5>05/11/14</h5>
						</div>
					</div>
					<div class="message-content">
						<p>This is a system test to see what I like.</p>
					</div>
				</div>
			</div>
			<div class="message-box"></div>


		</div>
	</div>


</div>