<div ng-show="isLogged">
	<div class="inbox-container">
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'inbox' | translate}}</li>
            <li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon"><i class="fa fa-tasks"></i></span>
       		</li>
       	</ul>

		<div class="message-container">


			<div class="message-box {{room.status}}" ng-repeat="room in rooms" ng-click="openRoom(room.userInfo[0]._id}})">
				<div class="message-notification">		
					<input type="checkbox" name="user-read" class="user-read" value="{{room.room.roomID}}">
				</div>
				<div class="message-sender-img">
					<div class="sender-img"></div>
				</div>
				<div class="message-content-container">
					<div class="message-content-header clearfix">
						<div class="message-sender pull-left">
							<h4>{{room.userInfo[0].firstName}} {{room.userInfo[0].lastName}}</h4><p class="online-activity online">&middot;</p>
						</div>
						<div class="message-date pull-right">
							<h5>{{room.latestMessage.timeDate[0]}}</h5>
						</div>
					</div>
					<div class="message-content">
						<p>{{room.latestMessage.message}}</p>
					</div>
				</div>
			</div> <!-- Close of Message -->


		</div> <!-- Closes Message Container -->

		<div class="message-menu-container">
			<div class="message-create">
				<i class="fa fa-pencil-square-o"></i>
			</div>
			<div class="message-new">
				<i class="fa fa-inbox"></i>
			</div>
			<div class="message-reply">
				<i class="fa fa-reply"></i>
			</div>
			<div class="message-cancel">
				<i class="fa fa-ban"></i>
			</div>
			<div class="message-trash">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
	</div>


</div>