<div>
    <div class="body-container bg-input">
        <div class="page-home">
           <ul class="app-header">
                <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
                <li class="app-header-title">{{'newRequest' | translate}}</li>
                <li class="app-header-notifications"><i class="fa fa-bell"></i></li>
           </ul>
           <div class="home-body">
           		<textarea class="new-input"></textarea>

           </div>
        </div>

    </div>
</div>
