<div>
	<div class="body-container bg-purple">
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'prayer' | translate}}</li>
            <li class="app-header-toggle-settings">
            	<i class="fa fa-search"></i>
       		</li>
       	</ul>
    </div>
    <div class="journal-body-container">
    	<div class="journal-toggle">
   			<div class="journal-list active">
   				<div class="toggle-content">
   					
   					<p><i class="fa fa-file-text-o"></i> Journals</p>
   				</div>
   			</div>
   			<div class="journal-create">
   				<div class="toggle-content">
   					
   					<p><i class="fa fa-pencil-square-o"></i>Create New</p>
   				</div>
   			</div>
   		</div>
    </div> <!-- Closes Jounral Body Container -->
</div>