<div class="ngdialog-message">
<button type="button" class="close ngdialog-close" ng-click="saveSelection('j')"></button>
<div class="container" style="">
    <h1>Journal POPUP</h1>
    <ul>
        <!-- I left the translation out because this list will be populated -->
        <li ng-repeat="journal in journalList"><input type="checkbox" name="selectedJournals[]" value="{{journal._id}}" ng-click="toggleSelection(journal._id,'j')" ng-checked="jselection.indexOf(journal._id) > -1" > {{journal.title}}</li>
    </ul>

</div>

</div>