<div>
	<div class="bg-main body-container">
		<!-- <div class="body-gradient">
			<div class="">
				<div>
					<div class="button-circle">
						<i class="fa fa-3x fa-long-arrow-up"></i>
					</div>
					<p>pray now</p>
				</div>
				<div>
					<div class="button-circle">
						<i class="fa fa-3x fa-plus"></i>
					</div>
					<p>Request a prayer</p>
				</div>

				<div class="menu-toggle">
					<i class="fa fa-2x fa-bars"></i>
				</div>
				
			</div>
		</div> -->

		<!-- <div class="menu">
			<div class="menu-container">
				<div class="menu-row">
					<div class="menu-box">
						<p>Inbox</p>
					</div>
					<div class="menu-box">
						<p>Prayer Feed</p>
					</div>
					<div class="menu-box">
						<p>My Prayers</p>
					</div>
				</div>
				<div class="menu-row">
					<div class="menu-box">
						<p>All Prayers</p>
					</div>
					<div class="menu-box">
						<p>Friends</p>
					</div>
					<div class='menu-box'>
						<p>Groups</p>
					</div>
				</div>
				<div class="menu-row">
					<div class="menu-box">
						<p>My Journal</p>
					</div>
					<div class="menu-box">
						<p>My Activities</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
