<div>
	<div class="body-container bg-main">
		<div class="page-login">
			<div class="img-logo">
				<img src="img/logo.png">
			</div>
			<div class="form-container">
				<div class="form-login">
					<h6 class="form-head">{{ 'needaccount' | translate }}<span class="register-link" style="cursor: pointer" ng-click="go('register')">{{ 'register' | translate }}</span></h6>

						<div class="glyph-container">
							<div>
								<i class="fa fa-envelope-o"></i>
							</div>
							<input type="text" placeholder="{{ 'email' | translate }}" ng-model="userData.email">
						</div>
						<div class="glyph-container m-bottom">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="{{ 'password' | translate }}" ng-model="userData.password">
						</div>
                    <span style="color:#ffffff;">{{errorMsg}}</span>
						<input type="submit" ng-click="loginUser()" value="{{ 'login' | translate }}">


					<p>{{ 'or' | translate }}</p>

					<div class="selection-container">
						<div class="t-glass">
							<div class="select-box facebook">
								<div class="border-right">
									<i style="cursor: pointer" ng-click="fbLogin()" class="fa fa-2x fa-facebook"></i>
								</div>
								<div class="border-left">
									<h5>Log In With Facebook</h5>
								</div>
							</div>
						</div>
	
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
