<div>
	<div class="body-container bg-purple">
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'inbox' | translate}}</li>
            <li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon"><i class="fa fa-tasks"></i></span>
       		</li>
       	</ul>


       	<div class="inbox-message-container">
            <div ng-repeat="message in messages">
       		<div class="push-message" style="float:right; margin-right: -5%;" ng-show="!(message.from == userID)">

       			<div class="user-photo-section">
       				<div class="message-user-photo"></div>
       			</div>
       			<div class="user-message-section">
       				<div class="user-message-content">
       					<p class="message">{{message.message}}.</p>
       					<div class="message-attachment">
       						<hr>
       						<p><i class="fa fa-paperclip"></i> <span class="attachment-name">InboxMessage.psd</span></p>
       					</div>
       				</div>
       			</div>
       			<div class="user-timestamp-section">
       				<p><span class="message-time">{{room.latestMessage.timeDate[0]}}</span><br>
       					<span class="message-date">{{room.latestMessage.timeDate[1]}}</span><br>
       					<i class="fa fa-trash-o"></i>
       				</p>
       			</div>
       		</div> <!-- End Push Message -->
       		<div class="clearfix"></div>

       		<div class="pull-message" style="float:left;" ng-show="(message.from == userID)">
       			<div class="user-timestamp-section">
       				<div>
       					<p><span class="message-time">{{room.latestMessage.timeDate[0]}}</span><br>
       					<span class="message-date">{{room.latestMessage.timeDate[1]}}</span><br>
       					<i class="fa fa-trash-o"></i>
       				</p>
       				</div>

       			</div>
       			<div class="user-message-section">
       				<div class="user-message-content">
       					<p class="message">{{message.message}}.</p>
       					<div class="message-attachment">
       						<hr>
       						<p><i class="fa fa-paperclip"></i> <span class="attachment-name">InboxMessage.psd</span></p>
       					</div>
       				</div>
       			</div>
       			<div class="user-photo-section">
       				<div class="message-user-photo"></div>
       			</div>
       		</div> <!-- End Pull Message -->

            </div>
<div ng-show ="isAnyErr" style="color: #ffffff;">
{{err.msg}}
</div>
       	</div>
       	<div class="inbox-message-input">
       		<div class="message-input">
       			<textarea ng-model="replyData.text" ng-click="checkMessageStatus()"></textarea>
       			<div class="message-fields">
       				<div class="media-button-container pull-left">
       					<button class="smiley-button">
       						<i class="fa fa-smile-o"></i>
       					</button>
       					<button class="photo-button">
       						<i class="fa fa-camera"></i>
       					</button>
       					<button class="attach-button">
       						<i class="fa fa-paperclip"></i>
       					</button>
       				</div>
       				<div class="reply-button-container pull-right">
       					<button class="reply-button" ng-click="sendMessage()">Reply</button>
       				</div>
       			</div>
       		</div>


       	</div>

	</div>
</div>