<div>
    <div class="body-container bg-prayers">
        <div class="page-prayers">
           <ul class="app-header">
           		<li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
           		<li class="app-header-title">{{ 'prayNowTitle' | translate }}</li>
           		<li class="app-header-notifications"><i class="fa fa-bell"></i></li>
           </ul>
           <div class="prayers-search-bar-with-icon">
           		<input class="prayers-search-bar searchField" ng-change="change()" ng-model="searchQuery" type="text"   placeholder="{{'searchCats' | translate}}">
           		<div class="prayers-search-bar-icon"><i class="fa fa-search"></i></div>
           		<div class="prayers-search-title">{{ 'prayersFor' | translate}} <span class="bold">{{ 'when' | translate}}</span></div>
           		<ul class="prayers-search-results">
           		<!-- I left the translation out because this list will be populated -->
           			<li ng-repeat="pray in prayerSerachList">{{pray.topic}}<span>0 prayers</span></li>
           		</ul>
           </div>
        </div>
    </div>
</div>
