<div ng-show="isLogged">
	<div class="body-container bg-prayer-gradient" >
		<ul class="app-header bg-transparent">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'prayerShare' | translate}}</li>
            <li class="app-header-toggle-settings">
            	<i class="fa fa-bell"></i>
       		</li>
       	</ul>

		<!-- body start -->
		<div class="add-prayer-body-container">
			<div class="addPrayer">
				<div id="tabs" ng-controller="prayerShare">
					<ul>
						<li ng-repeat="tab in tabs"
							ng-class="{active:isActiveTab(tab.url)}"
							ng-click="onClickTab(tab)">{{tab.title}}</li>
							<!--li class="active">To Followers</li>
							<li>Direct</li-->
					</ul>
					<div class="mainView">
						<div ng-include="currentTab">
						</div>
					</div>
				</div>

				<script type="text/ng-template" id="followers.tpl.html">
					<div id="viewFollowers">
							<textarea>Write Your Prayer...</textarea>
							<label><input type="" /></label>
					</div>
				</script>

				<script type="text/ng-template" id="direct.tpl.html">
					<div id="viewDirect">
						<p>The design flow for direct goes here</p>
					</div>
				</script>
			</div>
			<div class="clear"></div>
		</div>
		<!-- body end -->

	</div>



	
</div>