<div>
	<div class="body-container bg-main">
		<ul class="app-header">
            <li ng-click="back()" class="app-header-back-button"><i class="fa fa-angle-left"></i></li>
            <li class="app-header-title">{{'profile' | translate}}</li>
            <li class="app-header-toggle-settings">
       			<span class="app-toggle-settings-icon fa-3x">&plus;</span>
       		</li>
       	</ul>
       	<div class="account-container">
       		<div class="account-photo"></div>
       		<div class="account-menu-container">
       			<div class="account-menu-header">
       				<h4 class="user-name">Jane Doe</h4>
       				<div class="account-header-line">
       					<ul>
       						<li><i class="fa fa-globe"></i> 32 Prayers</li>
       						<li>|</li>
       						<li><i class="fa fa-users"></i> 6 Friends</li>
       					</ul>
       				</div>
       			</div>
                        <div class="account-menu">
                              <div class="account-row">
                                    <div class="row-item">
                                          <div>
                                                <i class="fa fa-3x fa-comments-o"></i>
                                          <h6>Chat</h6>
                                          </div>
                                          
                                    </div>
                                    <div class="row-item">
                                          <i class="fa fa-3x fa-users"></i>
                                          <h6>Friends</h6>
                                    </div>
                                    <div class="row-item">
                                          <i class="fa fa-3x fa-cog"></i>
                                          <h6>Settings</h6>
                                    </div>
                              </div>
                              <div class="account-row">
                                    <div class="row-item">
                                          <i class="fa fa-3x fa-map-marker"></i>
                                          <h6>Location</h6>
                                    </div>
                                    <div class="row-item">
                                          <i class="fa fa-3x fa-rss"></i>
                                          <h6>Feed</h6>
                                    </div>
                                    <div class="row-item">
                                          <i class="fa fa-3x fa-share-square-o"></i>
                                          <h6>Share</h6>
                                    </div>
                              </div>
                        </div>
       		</div>
       	</div>
	</div>

</div>