<script type="application/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            //appId      : '646091475486541',
            appId      : '684160781666200',
            xfbml      : true,
            version    : 'v2.0'
        });
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684160781666200&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div>
	<div class="body-container bg-main">
		<div class="page-register">
			<div class="img-logo">
				<img src="img/logo.png">
			</div>
			<div class="section-container">
				<div class="form-register">
					<h6 class="form-head">{{ 'alreadyhaveaccount' | translate }}<span class="login-link" style="cursor: pointer" ng-click="go('login')">{{ 'login' | translate }}</span></h6>

						<div class="glyph-container">
							<div>
								<i class="fa fa-envelope-o"></i>
							</div>
							<input type="text" placeholder="{{ 'email' | translate }}" ng-model="userData.email">
						</div>
						<div class="glyph-container">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="{{ 'password' | translate }}" ng-model="userData.password">
						</div>
						<div class="glyph-container m-bottom">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="{{ 'password' | translate }}" ng-model="rePass">
						</div>
                    <span style="color:#ffffff;">{{errorMsg}}</span>
						<input type="submit" ng-click="regUser()" value="{{ 'signup' | translate }}">
					
					<p>{{ 'or' | translate }}:</p>

					<div class="selection-container">
						<div class="t-glass" ng-click="fbLogin()">
							<div class="select-box facebook" >
								<div class="border-right">
									<i style="cursor: pointer"  class="fa fa-2x fa-facebook"></i>
								</div>
								<div class="border-left">
									<h5>{{'facebook_signup' | translate}}</h5>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>