
<div>
	<div class="body-container bg-main">
		<div class="page-register">
			<div class="img-logo">
				<img src="img/logo.png">
			</div>
			<div class="section-container">
				<div class="form-register">
					<h6 class="form-head">Already have an account? <span class="login-link" style="cursor: pointer" ng-click="go('login')">Login</span></h6>

						<div class="glyph-container">
							<div>
								<i class="fa fa-envelope-o"></i>
							</div>
							<input type="text" placeholder="Email" ng-model="userData.email">
						</div>
						<div class="glyph-container">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="Password" ng-model="userData.password">
						</div>
						<div class="glyph-container m-bottom">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="Password" ng-model="rePass">
						</div>
                    <span style="color:#ffffff;">{{errorMsg}}</span>
						<input type="submit" ng-click="regUser()" value="SIGN UP">

					
					<p>Sign up with:</p>

					<div class="selection-container">
						<div class="t-glass">
							<div class="select-box facebook">
								<a href="">
									<i class="fa fa-2x fa-facebook"></i>
								</a>
							</div>
						</div>
						<p>OR</p>
						<div class="t-glass">
							<div class="select-box twitter">
								<a href="">
									<i class="fa fa-2x fa-twitter"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>