
<div>
	<div class="body-container bg-main">
		<div class="page-register">
			<div class="img-logo">
				<img src="img/logo.png">
			</div>
			<div class="section-container">
				<div class="form-register">
					<h6 class="form-head">Already have an account? <a href="index.html" class="login-link">Login</a></h6>
					<form>
						<div class="glyph-container">
							<div>
								<i class="fa fa-envelope-o"></i>
							</div>
							<input type="text" placeholder="Email">
						</div>
						<div class="glyph-container">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="Password">
						</div>
						<div class="glyph-container m-bottom">
							<div>
								<i class="fa fa-lock"></i>
							</div>
							<input type="password" placeholder="Password">
						</div>
						<input type="submit" value="SIGN UP">
					</form>
					
					<p>Sign up with:</p>

					<div class="selection-container">
						<div class="t-glass">
							<div class="select-box facebook">
								<a href="">
									<i class="fa fa-2x fa-facebook"></i>
								</a>
								<hr>
							</div>
						</div>
						<p>OR</p>
						<div class="t-glass">
							<div class="select-box twitter">
								<a href="">
									<i class="fa fa-2x fa-twitter"></i>
								</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- <div class="section-container">
				<div class="social-register">
					<div class="f-glass">
						<div class="glyph-container social facebook">
							<div>
								<i class="fa fa-2x fa-facebook"></i>
							</div>
							<a href="" class="social-link">Sign in with Facebook</a>
						</div>
					</div>
					<div class="f-glass">
						<div class="glyph-container social twitter">
							<div>
								<i class="fa fa-2x fa-twitter"></i>
							</div>
							<a href="" class="social-link">Sign in with Twitter</a>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>